<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="loginmain">
        <div id="img">
            <img src="/images/Screenshot__36_-removebg-preview (1).png" alt="">
        </div>
        <h2>welcome to whatsapp</h2>
        <h5>a simple,reliable and private way to use whatsapp in your computer.</h5>
        <form action="/register" method="post">
            <input id="username" type="text" name="username" placeholder="enter your username">
            <input id="username" type="password" name="password" placeholder="enter your password">
            <input id="username" type="text" name="profileImage" placeholder="profilepic">
            <input id="button" type="submit" value="Get Started">
        </form>
        <div id="login">
            <h3>Already have an account? <a href="/log">login</a></h3>
        </div>
    </div>
</body>
</html>